{% extends 'base.html' %} {% load static %} {% block boody %}

<!-- ========================= hero-section start ========================= -->
<section id="home" class="hero-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="hero-content">
          <h1 class="wow fadeInUp" data-wow-delay=".2s">
            Todos tus ahorros en un solo lugar
          </h1>
          <p class="wow fadeInUp" data-wow-delay=".4s">
            Registrate en ExMoney para recibir los mejores consejos y llevar un
            control sencillo de todo tu dinero
          </p>
          <a
            href="{% url 'register' %}"
            class="main-btn btn-hover wow fadeInUp"
            data-wow-delay=".6s"
            >Registrarse</a
          >
        </div>
      </div>
      <div class="col-lg-6">
        <div class="hero-img wow fadeInUp" data-wow-delay=".5s">
          <img
            src="{% static 'img/hero/hero-img-2.png' %}"
            alt=""
            class="img-1"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= hero-section end ========================= -->

<!-- ========================= client-logo-section start ========================= -->
<section class="client-logo-section">
  <div class="container">
    <div class="client-logo-wrapper">
      <div class="single-logo">
        <img src="{% static 'img/client-logo/client-logo-1.png' %}" alt="" />
      </div>
      <div class="single-logo">
        <img src="{% static 'img/client-logo/client-logo-2.png' %}" alt="" />
      </div>
      <div class="single-logo">
        <img src="{% static 'img/client-logo/client-logo-3.png' %}" alt="" />
      </div>
      <div class="single-logo">
        <img src="{% static 'img/client-logo/client-logo-4.png' %}" alt="" />
      </div>
      <div class="single-logo">
        <img src="{% static 'img/client-logo/client-logo-5.png' %}" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- ========================= client-logo-section end ========================= -->
<div class="wrapper">
  <div class="chart-container">
    <h2 class="chart-title">Tendencia de cambio de divisas</h2>
    <canvas class="chart" id="currency-chart"></canvas>
  </div>
  <div class="calculator-container">
    <div class="calculator">
      <h2 class="calculator-title">Conversor de divisas</h2>
      <div class="calculator-form">
        <div class="calculator-form-group">
          <label class="calculator-label" for="currency-1">Monto:</label>
          <div class="label-wrapper">
            <input class="calculator-input" type="number" placeholder="0" id="amount-1" />
            <select name="currency" class="calculator-select" id="currency-1""></select>
            <button class="swap-button"><i class="fas fa-exchange-alt"></i></button>
            <select name="currency" class="calculator-select" id="currency-2""></select>
          </div>
        </div>
        <div class="calculator-form-group">
          <label class="calculator-label" for="currency-2">Resultado:</label>
          <div class="field grid-50-50">
            <div class="colmun col-left">
              <input class="calculator-input" type="text" placeholder="0" id="amount-2" disabled/>
            </div>

          </div>
        </div>
        <button class="calculator-button">
          <div class="loader"></div>
          <p class="calcular-button-text">
            Calcular
          </p>
        </button>
      </div>
    </div>
  </div>
</div>

  
  
</section>
<!-- ========================= feature-section start ========================= -->
<section id="feature" class="feature-section pt-60">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-5 col-xl-6 col-lg-7">
        <div class="section-title text-center mb-30">
          <h1
            class="mb-25 wow fadeInUp"
            data-wow-delay=".2s"
            style="
              visibility: visible;
              animation-delay: 0.2s;
              animation-name: fadeInUp;
            "
          >
            Las ventajas de unirte a nosotros.
          </h1>
          <p
            class="wow fadeInUp"
            data-wow-delay=".4s"
            style="
              visibility: visible;
              animation-delay: 0.4s;
              animation-name: fadeInUp;
            "
          >
            Después completamos esta línea de texto.
          </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single-feature">
          <div class="icon color-1">
            <i class="lni lni-pointer-up"></i>
          </div>
          <div class="content">
            <h3>Fácil de usar</h3>
            <p>
              Sabemos lo complicado que es poder ahorrar, y por esa razón
              estamos aquí para facilitarte la vida
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single-feature">
          <div class="icon color-2">
            <i class="lni lni-revenue"></i>
          </div>
          <div class="content">
            <h3>Grandes beneficios</h3>
            <p>
              Recibí consejo de los mejores inversores del mercado y ve en
              tiempo real sus inversiones
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single-feature">
          <div class="icon color-3">
            <i class="lni lni-sthethoscope"></i>
          </div>
          <div class="content">
            <h3>Información al momento</h3>
            <p>
              Contamos con la información de más de 100 monedas y la más
              detallada información de las mismas
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ========================= feature-section end ========================= -->

  <section class="latest-news">
    <h2 class="mb-25 wow fadeInUp" data-wow-delay=".2s">Últimas noticias</h2>
    <div class="latest-news-container">
      <div class="latest-news-card">
        <img src="/static/img/noticias/noticias1.jpg" alt="Noticia 1">
        <h3 class="text-center">El índice S and P 500 registró pérdida de 0,28%</h3>
        <p>Sesión bajista para el S&P 500, que cerró la sesión del viernes 17 de febrero con ligeras caídas del 0,28%, hasta los 4.079,09 puntos.</p>
        <a href="{% url 'noticias1' %}">Leer más</a>
      </div>
      <div class="latest-news-card">
        <img src="/static/img/noticias/noticias2.jpeg" alt="Noticia 2">
        <h3 class="text-center">PIB de Colombia: la economía del país creció 7,5 % en el 2022</h3>
        <p>La economía colombiana creció 7,5 % en 2022. Así lo dio a conocer el Departamento Administrativo Nacional de Estadística</p>
        <a href="{% url 'noticias2' %}"">Leer más</a>
      </div>
      <div class="latest-news-card">
        <img src="/static/img/noticias/noticias3.jpeg" alt="Noticia 3">
        <h3 class="text-center">Fed no puede alcanzar una inflación de 2%</h3>
        <p>"Se necesita una tasa de inflación estable más alta. Llámalo 3 a 4%", dijo El-Erian, presidente de Gramercy Funds.</p>
        <a href="{% url 'noticias3' %}"">Leer más</a>
      </div>
      <div class="latest-news-card">
        <img src="/static/img/noticias/noticias4.jpg" alt="Noticia 4">
        <h3>El FMI dio malas noticias para la economía mundial</h3>
        <p>De acuerdo con este reciente reporte del FMI, se proyecta que el crecimiento mundial registre un descenso estimado de 3,4 % en 2022.</p>
        <a href="{% url 'noticias4' %}"">Leer más</a>
      </div>
      <div class="latest-news-card">
        <img src="/static/img/noticias/noticias5.jpg" alt="Noticia 5">
        <h3 class="text-center">La economía rusa perdería US$ 190.000 millones por la guerra.</h3>
        <p>Putin buscaba que la economía rusa se convirtiera en la principal del mundo, ahora está en camino de perder US$190.000 millones en PIB.</p>
        <a href="{% url 'noticias5' %}"">Leer más</a>
      </div>
      <div class="latest-news-card">
        <img src="/static/img/noticias/noticias6.jpg" alt="Noticia 6">
        <h3>Inflación en Argentina: Precios subieron 98.8% en enero</h3>
        <p>El comportamiento de los precios en enero enciende las alarmas en un país que el año pasado acumuló una inflación del 94.8 %, la más alta de las últimas tres décadas.</p>
        <a href="{% url 'noticias6' %}"">Leer más</a>
      </div>
    </div>
  </section>
  

<!-- ========================= faq-section start ========================= -->
<section id="faq" class="faq-section pt-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-5 col-xl-6 col-lg-7">
        <div class="section-title text-center mb-60">
          <h1 class="mb-25 wow fadeInUp" data-wow-delay=".2s">
            Preguntas frecuentes
          </h1>
          <p class="mb-25 wow fadeInUp" data-wow-delay=".2s">
            El servicio de atención al cliente está disponible las 24 horas del dia pero aqui resolveremos algunas de tus dudas.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="accordion faq-wrapper" id="accordionExample">
          <div class="single-faq">
            <button
              class="w-100"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              ¿Que documentos necesito para registrarme?
            </button>

            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="faq-content">
              Para registrarte necesitas tu DNI, tu número de seguro social y tu número de cuenta bancaria.
              </div>
            </div>
          </div>
          <div class="single-faq">
            <button
              class="w-100 collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              ¿En que tiempo puedo recibir mi dinero?
            </button>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="faq-content">
              Inmediateamente, una vez que tu solicitud sea aprobada.
              </div>
            </div>
          </div>
          <div class="single-faq">
            <button
              class="w-100 collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              ¿Existen los prestamos sin intereses?
            </button>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="faq-content">
              Si, pero solo para los clientes con cuentas premium.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="faq-image">
          <img src="static/img/faq/faq-img.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
{% block js %}
  <script src="{% static 'js/calculator.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/002c590bf1.js" crossorigin="anonymous"></script>
{% endblock js %}
  <!-- ========================= faq-section end ========================= -->

{% endblock boody %}
