{% extends 'base.html' %} 

{% load static %} 

{% block boody %}

{% block static %} 
<link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" /> 
<link rel="stylesheet" href="{% static 'css/chart.css' %}">
{% endblock static %}

<!-- ========================= hero-section start ========================= -->
<section id="home" class="hero-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="hero-content">
          <h1 class="wow fadeInUp" data-wow-delay=".2s">
            Servicios
          </h1>
          <p class="wow fadeInUp" data-wow-delay=".4s">
            Estos son los servicios que ofrecemios:
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="hero-img wow fadeInUp" data-wow-delay=".5s">
          <img
            src="{% static 'img/hero/hero-img-2.png' %}"
            alt=""
            class="img-1"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= hero-section end ========================= -->
<section id="feature" class="feature-section pt-60">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-5 col-xl-6 col-lg-7">
        <div class="section-title text-center mb-30">
          <h1
            class="mb-25 wow fadeInUp"
            data-wow-delay=".2s"
            style="
              visibility: visible;
              animation-delay: 0.2s;
              animation-name: fadeInUp;
            "
          >
            Crypto.
          </h1>
          <p
            class="wow fadeInUp"
            data-wow-delay=".4s"
            style="
              visibility: visible;
              animation-delay: 0.4s;
              animation-name: fadeInUp;
            "
          >
            En el apartado lista podras encontrar
            Iconom,  Symbolos , Nombre  y Capacidad del mercado.
          </p>
          <p
          class="wow fadeInUp"
          data-wow-delay=".4s"
          style="
            visibility: visible;
            animation-delay: 0.4s;
            animation-name: fadeInUp;
          "
        >
          En el apartado detalles podras encontrar una gran cantidad de especificaciones de las mismas, como su Tasa en USD, Alta, Baja y mucho mas.
        </p>
        <img src="" alt="Imagen1">
        <img src="" alt="Imagen2">
        
      </div>
    </div>

  </div>
</section>
<section id="feature" class="feature-section pt-60">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-5 col-xl-6 col-lg-7">
        <div class="section-title text-center mb-30">
          <h1
            class="mb-25 wow fadeInUp"
            data-wow-delay=".2s"
            style="
              visibility: visible;
              animation-delay: 0.2s;
              animation-name: fadeInUp;
            "
          >
            Divisas.
          </h1>
          <p
            class="wow fadeInUp"
            data-wow-delay=".4s"
            style="
              visibility: visible;
              animation-delay: 0.4s;
              animation-name: fadeInUp;
            "
          >
            Podras encontrar un listado con mas de 50 monedas de todo el mundo.
          </p>
          <img src="" alt="Imagen3">
        </div>
      </div>
    </div>

  </div>
</section>

<!-- ========================= client-logo-section start ========================= -->
<section class="client-logo-section">
  <div class="container">
    <div class="client-logo-wrapper">
      <div class="single-logo">
        <img src="{% static 'img/client-logo/client-logo-1.png' %}" alt="" />
      </div>
      <div class="single-logo">
        <img src="{% static 'img/client-logo/client-logo-2.png' %}" alt="" />
      </div>
      <div class="single-logo">
        <img src="{% static 'img/client-logo/client-logo-3.png' %}" alt="" />
      </div>
      <div class="single-logo">
        <img src="{% static 'img/client-logo/client-logo-4.png' %}" alt="" />
      </div>
      <div class="single-logo">
        <img src="{% static 'img/client-logo/client-logo-5.png' %}" alt="" />
      </div>
    </div>
  </div>
</section>


{% block js %}
  <script src="{% static 'js/calculator.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
  <script src="{% static 'js/chart.js' %}"></script>
  <script src="https://kit.fontawesome.com/002c590bf1.js" crossorigin="anonymous"></script>
{% endblock js %}
  <!-- ========================= faq-section end ========================= -->

{% endblock boody %}
