{% extends 'base.html' %}

{% block title %}
  
{% endblock title %}

{% block static %}
  
{% endblock static %}
  

{% block boody %}
  
<section class="vh-100 gradient-custom pt-60">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 2rem">
                    <div class="card-body p-5">
                        <div class="mb-md-2">
                            {{mensaje}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock boody %}