
{% extends 'base.html' %}
{% load static %}

{% block titulo %}
  Iniciar Sesión
{% endblock titulo %}

{% block static %}

{% endblock static %}


{% block boody %}

  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 2rem">
            <div class="card-body p-5">
              <div class="mb-md-2">
                <h2 class="fw-bold mb-2 text-uppercase text-center text-white">Iniciar Sesion</h2>

                <form method="POST" action="">
                  {% csrf_token %}

                  <div class="form-outline form-white mb-4">
                    <p>Usuario</p>
                    <input
                      type="text"
                      name="username"
                      id="typeEmailX"
                      class="form-control form-control-md"
                      placeholder="Nombre de Usuario"
                      required
                    />
                    
                  </div>

                  <div class="form-outline form-white mb-4">
                    <p>Contraseña</p>
                    <input
                      type="password"
                      name="password"
                      id="typePasswordX"
                      class="form-control form-control-md"
                      placeholder="Contraseña"
                      required
                    />
                  </div>
            <div class="text-center">
                  <input
                    class="btn btn-outline-light btn-md px-5"
                    type="submit"
                    value="Iniciar"
                  />
                </form>
              </div>

              {% for message in messages %}
              <p class="text-warning">{{message}}</p>
              {% endfor %}

              <div class="mt-4 text-center">
                <p class="mb-0">
                  ¿No tienes cuenta?
                  <a href="{% url 'register' %}" class="text-white-50 fw-bold"
                    >Registrate</a
                  >
                </p>
          </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock boody %}
