{% extends 'base.html' %} {% load static %} {% block title %} Registrate
{% endblock title %} {% block static %} {% endblock static %} {% block boody %}

<section class="vh-100 gradient-custom pt-60">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 2rem">
          <div class="card-body p-5">
            <div class="mb-md-2">
               <h2 class="fw-bold mb-2 text-uppercase text-center text-white">
                Registrate
              </h2>

              <form method="POST" action="">{% csrf_token %}
                
                <div class="form-outline form-white mb-4">
                  <label class="form-label">Usuario</label>
                  {{form.username}}
                  <div class="text-warning">
                    {{form.username.errors.as_text}}
                  </div>
                </div>

                <div class="form-outline form-white mb-4 required">
                  <label class="form-label">Nombre(s):</label>
                  {{form.first_name}}

                  <div class="text-warning">
                    {{form.first_name.errors.as_text}}
                  </div>

                </div>
                <p class="form-label">Apellido</p>
                <div class="form-outline form-white mb-4 required">
                  {{form.last_name}}
                  <div class="text-warning">
                    {{form.last_name.errors.as_text}}
                  </div>
                </div>

                <div class="form-outline form-white mb-4 required">
                  <label class="form-label">Email</label>
                  {{form.email}}

                  <div class="text-warning">
                    {{form.email.errors.as_text}}
                  </div>
                </div>

                <div class="form-outline form-white mb-4 required">
                  <label class="form-label">Contraseña</label>
                  {{form.password1}}
                  <div class="text-warning">
                    {{form.password1.errors.as_text}}
                  </div>
                </div>

                <div class="form-outline form-white mb-4 required">
                  <label class="form-label">Confirmar Contraseña</label>
                  {{form.password2}}
                  <div class="text-warning text-center">
                    {{form.password2.errors.as_text}}
                  </div>
                </div>
                <div class="text-center">
                  <input
                    class="btn btn-outline-light btn-md px-5 text-center"
                    type="submit"
                    value="Registrate"/>
                </div>
                <div class="mt-4 text-center">
                  <p class="mb-0">
                    ¿Ya tienes cuenta?
                    <a href="{% url 'login' %}" class="text-white-50 fw-bold"
                      >Ingresa</a
                    >
                  </p>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!--Secti

{% endblock boody %}
