:root {
    --main-color: #9CCD62;
    --font-color: #3C3D42;
    --borders: #f1f1f1;
}


.currency-body {
    display:flex;
    justify-content: center;
    align-items: start;
    font-family: 'Roboto Flex', sans-serif;
    background-color:#fff;
    
}

.curr-search::-webkit-search-decoration,
.curr-search::-webkit-search-cancel-button,
.curr-search::-webkit-search-results-button,
.curr-search::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.currency-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
    border: 2px var(--borders) solid;
    width: 80rem;
    background:#fff;
    border-radius: 6px;
    height:fit-content;
    margin-top: 15vh;
    min-height: 60vh;
    height: fit-content;
    z-index: 1;
}

.curr-nav .title {
    font-size: 34px;
    font-weight: bold;
    color:var(--font-color);
}

.curr-head{
    display:flex;
    flex-direction: column;
    width: 100%;
    
}

.search-input {
    width: 15vw;
    height: 2rem;
    border: 2px var(--borders) solid;
    border-radius: 6px;
    display: flex;
}

.search-img {
    min-width: 30px;
    min-height: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.curr-search {
    width: 100%;
    height: 100%;
    outline: none;
    border:0;
    border-left: 2px var(--borders) solid;
    padding:0.5rem;
}

.curr-nav {
    display:flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    margin:0 1rem 0 1rem;
    justify-content: space-between;
}


.menu-list {
    display:flex;
    gap:1rem;
    padding:1rem;
    border-top: 2px var(--borders) solid;
    border-bottom: 2px var(--borders) solid;
    font-size: 20px;
}



.menu-element {
    position: relative;
    text-decoration: none;
    color:var(--font-color);
    transition: all 0.3s ease;
    font-weight: bold;
}

.menu-element:hover::after {
    content: "";
    display: block;
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: var(--main-color);
    border-radius: 50%;
}

.menu-element:hover {
    color:var(--main-color);
}

.curr-row {
    display:flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.curr-titles {
    display:flex;
    width:100%;
    font-weight: bold;
   
}

.curr-element {
    width: 24.5%;
    color:#aeaeae;
    font-size: 13px;
    padding: 0 1% 0 1%;
}

.curr-row-element {
    display:flex;
    align-items: left;
}

.curr-img {
    min-width: 30px;
    min-height: 30px;
    background-image: url("../img/dollar-sign-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.curr-row-element div{
    display:flex;
    justify-content: left;
    align-items: center;
    width: 24.5%;
    padding: 0 1% 0 1%;
}

.curr-row-element .last-value{
    display:flex;
    flex-direction:column;
    justify-content: left;
    align-items: start;
    width: 24.5%;
    padding: 0 1% 0 1%;
}

.local-value {
    font-size: 13px;
    color:#AEAEAE;
}

.curr-row-element div p {
    margin:0;
}
