
{% extends 'base.html' %}
{% load static %}

{% block title %}
Divisas y Cryptos
{% endblock title %}

{% block static %} 
    <link rel="stylesheet" href="{% static 'css/currency.css' %}"/> 
{% endblock static %}


{% block boody %}

<section class="currency-body">
    <div class="currency-wrapper">
        <header class="curr-head">
            <div class="curr-nav">
                {% if request.user.is_authenticated %}
                <a href="{% url 'list_bank' %}" class="menu-element"><h2 class="title">DIVISAS</h2></a>
                <a href="{% url 'expand' %}" class="menu-element"><h2 class="title">CRIPTO</h2></a>
                
                <div class="search-input">
                    <div class="search-img"><i class="fas fa-search"></i></div>
                    <input type="search" class="curr-search" placeholder="Buscar moneda">
                </div>
            </div>
            <nav class="menu-list">
                
                <a href="{% url 'list' %}" class="menu-elements">Lista</a>
                <a href="{% url 'expand' %}" class="menu-elements">Detalles</a>
                {% else %}
                <a href="{% url 'list_bank' %}" class="menu-element"><h2 class="title">DIVISAS</h2></a>
                <a href="{% url 'expand' %}" class="menu-element"><h2 class="title">CRIPTO</h2></a>
                
                <div class="search-input">
                    <div class="search-img"><i class="fas fa-search"></i></div>
                    <input type="search" class="curr-search" placeholder="Buscar moneda">
                </div>
            </div>
            <nav class="menu-list">
                <a href="{% url 'list' %}" class="menu-elements">Lista</a>
                {% endif %}
            </nav>
        </header>
        <main class="curr-row">
            <div class="curr-titles">
                <p class="currency curr-element">Símbolo</p>
                <p class="value curr-element">Tasa de cambio</p>
                <p class="exchange curr-element">Tasa media máx.</p>
                <p class="market curr-element">Tasa media mín.</p>
                <p class="market curr-element">Volumen(24H)</p>
                <p class="market curr-element">Cap. de mercado</p>
                <p class="market curr-element">Suministro total</p>
                <p class="market curr-element">Cambio(24H)</p>
            </div>


            {% for key, value in expand.items %}
                <div class="curr-row-element">

                    <div class="last-value">           
                        <p class="usdt-value">{{ key }}</p>            
                    </div>

                    {% if value.rate == None %}
                        <div class="last-value"> 
                            <p class="usdt-value"> - </p>    
                        </div>
                    {% else %}
                        <div class="last-value"> 
                            <p class="usdt-value">${{ value.rate|floatformat:4 }}</p>    
                        </div>
                    {% endif %}

                    {% if value.high == None %}
                        <div class="last-value"> 
                            <p class="usdt-value"> - </p>    
                        </div>
                    {% else %}
                        <div class="last-value"> 
                            <p class="usdt-value">${{ value.high|floatformat:4 }}</p>    
                        </div>
                    {% endif %}

                    {% if value.low == None %}
                        <div class="last-value"> 
                            <p class="usdt-value"> - </p>    
                        </div>
                    {% else %}
                        <div class="last-value"> 
                            <p class="usdt-value">${{ value.low|floatformat:4 }}</p>    
                        </div>
                    {% endif %}
                    
                    {% if value.vol == None %}
                        <div class="last-value"> 
                            <p class="usdt-value"> - </p>    
                        </div>
                    {% else %}
                        <div class="last-value"> 
                            <p class="usdt-value">${{ value.vol|floatformat:3 }}</p>    
                        </div>
                    {% endif %}

                    {% if value.cap == None %}
                        <div class="last-value"> 
                            <p class="usdt-value"> - </p>    
                        </div>
                    {% else %}
                        <div class="last-value"> 
                            <p class="usdt-value">${{ value.cap|floatformat:3 }}</p>    
                        </div>
                    {% endif %}

                    {% if value.sup == None %}
                        <div class="last-value"> 
                            <p class="usdt-value"> - </p>    
                        </div>
                    {% else %}
                        <div class="last-value"> 
                            <p class="usdt-value">${{ value.sup|floatformat:3 }}</p>    
                        </div>
                    {% endif %}

                    {% if value.change_pct == None %}
                        <div class="last-value"> 
                            <p class="usdt-value"> - </p>    
                        </div>
                    {% else %}
                        <div class="last-value"> 
                            {% if value.change_pct > 0 %}
                                <p class="usdt-value gain">{{ value.change_pct|floatformat:3 }}%</p>
                            {% elif value.change_pct == 0 %}
                                <p class="usdt-value">{{ value.change_pct|floatformat:3 }}%</p>
                            {% else %}    
                                <p class="usdt-value lost">{{ value.change_pct|floatformat:3 }}%</p>
                            {% endif %}
                        </div>
                    {% endif %}            
                </div>
            {% endfor %}


        </main>
        {% block js %}
        <script src="../../static/js/currency.js"></script>
        <script src="https://kit.fontawesome.com/002c590bf1.js" crossorigin="anonymous"></script>
        {% endblock js %}
    </div>
</section>

{% endblock boody %}
