
{% extends 'base.html' %}
{% load static %}

{% block title %}
Divisas y Cryptos
{% endblock title %}

{% block static %} 
    <link rel="stylesheet" href="{% static 'css/currency.css' %}"/> 
{% endblock static %}


{% block boody %}

<section class="currency-body">
    <div class="currency-wrapper">
        <header class="curr-head">
            <div class="curr-nav">
                <a href="{% url 'list_bank' %}" class="menu-element"><h2 class="title">DIVISAS</h2></a>
                <a href="{% url 'expand' %}" class="menu-element"><h2 class="title">CRIPTO</h2></a>
                
                <div class="search-input">
                    <div class="search-img"><i class="fas fa-search"></i></div>
                    <input type="search" class="curr-search" placeholder="Buscar moneda">
                </div>
            </div>
            <nav class="menu-list">
                <a href="{% url 'list_bank' %}" class="menu-element">Lista</a>

            </nav>
        </header>
        <main class="curr-row">
            <div class="curr-titles">
                <p class="currency curr-element">Icono</p>
                <p class="value curr-element">Symbolo</p>
                <p class="exchange curr-element">Nombre</p>
                <p class="market curr-element">Cap. de Mercado</p>
            </div>
            
                <div class="curr-row-element">

                    
                    <div class="last-value"> 

                        {% for key, value in expand.items %}


                        <p class="usdt-value">{{ key }}</p>
                                
                        {% endfor %}
                    </div>
                                    
                    <div class="last-value"> 

                        {% for key, value in expand.items %}

                        <p class="usdt-value">{{ value }}</p>

                                
                        {% endfor %}
                    </div>
                    
                    <div class="last-value"> 
                        {% for key, value in expan.items %}
                
                            <p class="usdt-value">{{ value }}</p>

                        {% endfor %}
                    </div>

        
                <div class="last-value">
                    
                    <p class="usdt-value"></p>
                    <p class="local-value"></p>
                
                </div>

            </div>
            
            

        </main>
        {% block js %}
        <script src="../../static/js/currency.js"></script>
        <script src="https://kit.fontawesome.com/002c590bf1.js" crossorigin="anonymous"></script>
        {% endblock js %}
    </div>
</section>

{% endblock boody %}

