
{% extends 'base.html' %}
{% load static %}

  {% block titulo %}
    Noticias
  {% endblock titulo %}

  {% block static %}

  {% endblock static %}


{% block boody %}

<br>
<br>
<br>

<section class="vh-100 gradient-custom">
  <div class="container p-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="card mb-3">
        <img class="card-img-top"" src="/static/img/noticias/bannernew3.jpg" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title text-center">Fed no puede alcanzar una inflación de 2% sin aplastar la economía, dicen los expertos</h2>
          <br>
          <p class="card-text">La Reserva Federal no podrá reducir la inflación de Estados Unidos a su objetivo de 2% sin "aplastar la economía", advirtió el viernes el economista Mohamed El-Erian, pero dijo que es poco probable que el banco central cambie oficialmente ese objetivo.
            <br>
            <br>
            "Se necesita una tasa de inflación estable más alta. Llámalo 3 a 4%", dijo El-Erian, presidente de Gramercy Funds y columnista de Bloomberg Opinion, a Bloomberg Television. "No creo que puedan llevar el IPC a 2% sin aplastar la economía, pero eso es porque el 2% no es el objetivo correcto".
            <br>
            <br>
            Sus comentarios se producen después de que datos del gobierno esta semana mostraron que los precios al consumidor de Estados Unidos, o IPC, subieron un 0,5% en enero, la mayor cantidad en tres meses, y la tasa de inflación anual llegó a un 6,4% más alto de lo esperado.
            <br>
            <br>            
            Al llamar a la Fed "demasiado dependiente de los datos", El-Erian dijo que los desarrollos del lado de la oferta, incluida una transición energética, el cambio en las cadenas de suministro durante la pandemia, un mercado laboral ajustado y problemas geopolíticos cambiantes, requieren una tasa de inflación objetivo más alta.

            <br>            
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock boody %}
