
{% extends 'base.html' %}
{% load static %}

  {% block titulo %}
    Noticias
  {% endblock titulo %}

  {% block static %}

  {% endblock static %}


{% block boody %}

<br>
<br>

<section class="vh-100 gradient-custom">
  <div class="container p-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="card mb-3">
        <img class="card-img-top"" src="/static/img/noticias/bannernew2.jpg" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title text-center">PIB de Colombia: la economía del país creció 7,5 % en el 2022</h2>
          <br>
          <p class="card-text">La economía colombiana creció 7,5 % en 2022. Así lo dio a conocer el Departamento Administrativo Nacional de Estadística (Dane), en la presentación del informe del Producto Interno Bruto (PIB) para el último trimestre del año pasado, y también para el dato completo del año.
            <br>
            <br>

            
            En cuanto a la cifra anual, que registró un crecimiento de 7,5 %, la directora del Dane, Piedad Urdinola, destacó que “la tasa de crecimiento anual en su serie original siguió siendo una cifra muy por encima de los niveles más altos que se tenían antes de la pandemia, y se espera que siga ese ajuste hacia esos niveles”.
            <br>
            <br>
            Más de la mitad de ese resultado, 4,5 puntos porcentuales, se vio impulsado por tres sectores: el comercio, transporte, alojamiento y servicios de comida, que aportó 2,1 puntos; las industrias manufactureras, con 1,2 puntos porcentuales; y las actividades artísticas, de entretenimiento y recreación, también con 1,2 puntos.
            <br>
            <br>            
            Los sectores con las variaciones más significativas a lo largo del 2022 fueron los de actividades artísticas, de entretenimiento y recreación (37,9 %), el de información y comunicaciones (14,2 %), comercio, transporte, alojamiento y servicios de comida (10,7 %) y las industrias manufactureras (9,8 %).
            <br>
            <br>            
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock boody %}
