
{% extends 'base.html' %}
{% load static %}

  {% block titulo %}
    Noticias
  {% endblock titulo %}

  {% block static %}

  {% endblock static %}


{% block boody %}

<br>
<br>
<br>

<section class="vh-100 gradient-custom">
  <div class="container p-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="card mb-3">
        <img class="card-img-top"" src="/static/img/noticias/bannernew5.jpg" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title text-center">La economía rusa perdería US$ 190.000 millones por la guerra en Ucrania</h2>
          <br>
          <p class="card-text">Rusia evitó un desastre económico tras la guerra que el presidente, Vladímir Putin, inició en Ucrania, en lo que fue la escena de apertura de una crisis lenta que tendrá consecuencias en los próximos años.
            <br>
            <br>
            Putin buscaba que la economía rusa se convirtiera en una de las cinco principales del mundo, pero ahora está en camino de perder US$190.000 millones en producto interno bruto para 2026 en relación con su trayectoria anterior a la guerra, según Bloomberg Economics, aproximadamente el equivalente de todo el PIB anual de países como Hungría o Kuwait.
            <br>
            <br>
            
            Aunque Rusia registró su tercer trimestre consecutivo de contracción hasta fines de 2022, su desaceleración durante todo el año fue una fracción del colapso de casi 10% que se proyectó un mes después de la invasión. El banco central sitúa la caída del año pasado en un 2,5% y pronostica que el crecimiento puede reanudarse desde este año.
            <br>            
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock boody %}
