{% extends 'base.html' %}
{% load static %}

  {% block titulo %}
    Noticias
  {% endblock titulo %}

  {% block static %}

  {% endblock static %}

{% block boody %}
<br />
<br />
<br>

<section class="vh-100 gradient-custom">
  <div class="container p-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="card mb-3">
        <img class="card-img-top"" src="/static/img/noticias/bannernew6.jpg"
        alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title text-center">
            Inflación en Argentina: Precios subieron 98.8% en enero
          </h2>
          <br />
          <p class="card-text">
            En enero la inflación en Argentina subió a 98.8 % interanual, cuatro
            puntos porcentuales más que en diciembre pasado, según datos del
            Instituto Nacional de Estadística y Censos. Solo en el primer mes
            del año los precios al consumidor crecieron el 6 % en comparación
            con diciembre del 2022. Entre las categorías que presentaron las
            mayores alzas están alimentos y bebidas, que subieron 6.8 % un dato
            preocupante por su impacto en el costo de la cesta básica de
            alimentos. Según consultores privados, la aceleración inflacionaria
            se presentó con más fuerza en las primeras tres semanas de enero,
            mientras que en la última mostró una cierta estabilización.
            <br />
            <br />
            El comportamiento de los precios en enero enciende las alarmas en un
            país que el año pasado acumuló una inflación del 94.8 %, la más alta
            de las últimas tres décadas y con una notable aceleración respecto
            al 50.9 % registrado en 2021.
            <br />
            El Gobierno de Argentina, que este año afrontará elecciones
            generales en las que la economía se perfila como uno de los asuntos
            centrales para los votantes, mantiene objetivos para desacelerar
            este año la inflación a un 60 % anual, un desafío que economistas
            privados ven difícil de superar.
            <br />
            <br />
            De hecho, los más recientes pronósticos privados que recaba
            mensualmente el Banco Central señalan que la inflación será este año
            del 97.6 %.
            <br />
          </p>

          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock boody %}
