
{% extends 'base.html' %}
{% load static %}

  {% block titulo %}
    Noticias
  {% endblock titulo %}

  {% block static %}

  {% endblock static %}


{% block boody %}

<br>
<br>

<section class="vh-100 gradient-custom">
  <div class="container p-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="card mb-3">
        <img class="card-img-top"" src="/static/img/noticias/bannernew1.jpeg" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title text-center">El índice S and P 500 registró al cierre de la jornada de este 17 de febrero una pérdida de 0,28%</h2>
          <br>
          <p class="card-text">Sesión bajista para el S&P 500, que cerró la sesión del viernes 17 de febrero con ligeras caídas del 0,28%, hasta los 4.079,09 puntos. El S&P 500 llegó a un volumen máximo de 4.081,51 puntos y la cifra mínima de 4.047,95 puntos. El rango de cotización para el S&P 500 entre su punto más alto y el más bajo (máximo-mínimo) durante este día se situó en el 0,82%.
            <br>
            <br>

            En relación a la última semana, el S&P 500 anota una disminución del 0,28%, por ello en términos interanuales todavía mantiene un descenso del 8,85%. El S&P 500 se sitúa un 2,41% por debajo de su máximo del presente año (4.179,76 puntos) y un 7,12% por encima de su valoración mínima en lo que va de año (3.808,10 puntos).¿Qué es un índice bursátil y para qué sirve?
            <br>
            <br>
            
            Un índice bursátil es un indicador que mide la evolución del precio de un determinado conjunto de activos, para lo cual se sirve de datos de varias empresas o sectores de un fragmento del mercado.
            <br>
            
            Estos indicadores son empleados principalmente por las bolsas de valores de los países y cada uno de ellos pueden integrarse por firmas con características determinadas como podría ser tener una capitalización bursátil similar o pertenecer a un mismo tipo de industria, además, hay algunos índices que sólo toman en cuenta un puño de acciones para determinar su valor u otras que consideran cientos de acciones.
            <br>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock boody %}
