
{% extends 'base.html' %}
{% load static %}

  {% block titulo %}
    Noticias
  {% endblock titulo %}

  {% block static %}

  {% endblock static %}


{% block boody %}

<br>
<br>

<section class="vh-100 gradient-custom">
  <div class="container p-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="card mb-3">
        <img class="card-img-top"" src="/static/img/noticias/bannernew4.jpg" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title text-center">El FMI dio malas noticias para la economía mundial de cara al futuro</h2>
          <br>
          <p class="card-text">El Fondo Monetario Internacional presentó este lunes -30 de enero- su más reciente actualización de las Perspectivas de la Economía Mundial, en la que no da buenas noticias de cara a lo que viene para este 2023 por culpa de la creciente inflación y el fantasma de la recesión que no da tregua y sigue rondando a grandes potencias como Estados Unidos, la Unión Europea y China; donde todavía se sienten también los efectos del Covid-19, la crisis de los precios del petróleo y la inestabilidad de los mercados de inversiones.
            <br>
            <br>
            De acuerdo con este reciente reporte del FMI, se proyecta que el crecimiento mundial registre un descenso estimado de 3,4 % en 2022, a 2,9 % en 2023, para luego repuntar a 3,1 % en 2024. El pronóstico para 2023 es 0,2 puntos porcentuales más alto que el vaticinado en la edición de Perspectivas de la economía mundial (informe WEO) de octubre de 2022, pero inferior a la media histórica (2000–19) de 3,8 %.
            <br>
            <br>  
                       
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock boody %}
